<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recomendação de vinhos</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <style>
        :root {
            --p-color-carafe: #402220;
            --p-color-dark-blue: #08122B;
            --p-color-cream: #F9EFEE;
            --p-color-marsala: #53001D;
            --p-bg-color: #f9f8f4;
            --p-unobtrusive-color: #deddd9;
            --bs-font-sans-serif: "Bodoni Moda", serif;
            --bs-font-monospace: "Montserrat", sans-serif;
        }

        .logo-principal {
            width: 120px;
        }

        .card-bar {
            background-color: var(--p-color-carafe);
            height: 0.65em;
        }

        .separador {
            border-style: solid;
            border-width: 1px 0 0;
            border-color: var(--p-unobtrusive-color);
        }

        .font-monospace {
            letter-spacing: 0.25rem;
        }

        .text-carafe {
            color: var(--p-color-carafe);
        }
        .text-cream {
            color: var(--p-color-cream);
        }
        .text-marsala {
            color: var(--p-color-marsala);
        }

        .bg-carafe {
            background-color: var(--p-color-carafe);
        }

        body {
            background-color: var(--p-bg-color);
        }

        #start-view {
            background-image: url('/images/vinho2.jpeg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        #end-view {
            background-image: url('/images/vinho1.jpeg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        #overlay-bg-top {
            background-color: #00000060;
            background-image: url('/images/vinho4.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 0% 101%;
        }

        #overlay-bg-bottom {
            background-color: #00000060;
            background-image: url('/images/vinho5.svg');
            background-position: top center;
            background-repeat: no-repeat;
            background-size: 102vw auto;
            margin-top: -1px;
        }

        #title-text {
            min-height: 25em;
        }

        #rodape-nav {
            min-height: 12rem;
        }
        #rodape-nav-title {
            color: var(--p-color-cream);
            font-size: 0.65em;
            letter-spacing: 0.15rem;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="container-fluid">
            <div class="row">
                <div id="start-view" class="col px-0 text-cream">
                    <div id="overlay-bg-top">
                        <div id="title-text" class="position-relative">
                            <div class="position-absolute top-50 start-50 translate-middle">
                                <h1 class="display-3">Vinhos</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4 order-md-2 d-flex justify-content-center align-items-center">
                            <img src="/android-chrome-192x192.png" class="img-fluid mb-3 mb-md-0 logo-principal" alt="...">                    
                        </div>
                        <div class="col-md-8 order-md-1 text-center text-md-start">
                            <h1 class="mb-3">Recomendador de vinhos</h1>
                            <p class="mb-4">Respondendo algumas perguntas, saiba qual vinho mais te agradará em sua refeição.</p>
                            <div class="d-grid gap-2 d-md-block">
                                <a href="#perguntas" class="btn btn-lg btn-dark" role="button">Iniciar</a>
                                <a href="https://github.com/MateusBMP/recomendador-de-vinhos" class="btn btn-lg btn-outline-dark" role="button">GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="perguntas" class="container mt-5">
            <div class="separador">
                <h5 class="my-3 font-monospace text-carafe">PERGUNTAS</h5>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="row row-cols-1 g-4">
                        <div class="col">
                            <div class="card rounded-3">
                                <div class="card-img-top card-bar"></div>
                                <div class="card-body px-4 pt-3 pb-4">
                                    <p class="card-title mb-3 fw-bold">Cor preferida <span class="text-marsala small align-top">*</span></p>
                                    <div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="branco" v-model="corPreferida">
                                            <label class="form-check-label">Branco</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="tinto" v-model="corPreferida">
                                            <label class="form-check-label">Tinto</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card rounded-3">
                                <div class="card-img-top card-bar"></div>
                                <div class="card-body px-4 pt-3 pb-4">
                                    <p class="card-title mb-3 fw-bold">Suavidade <span class="text-marsala small align-top">*</span></p>
                                    <div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="suave" v-model="suavidade">
                                            <label class="form-check-label">Suave</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="medio" v-model="suavidade">
                                            <label class="form-check-label">Médio</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="seco" v-model="suavidade">
                                            <label class="form-check-label">Seco</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card rounded-3">
                                <div class="card-img-top card-bar"></div>
                                <div class="card-body px-4 pt-3 pb-4">
                                    <p class="card-title mb-3 fw-bold">Corpo preferido <span class="text-marsala small align-top">*</span></p>
                                    <div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="leve" v-model="corpoPreferido">
                                            <label class="form-check-label">Leve</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="medio" v-model="corpoPreferido">
                                            <label class="form-check-label">Médio</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="encorpado" v-model="corpoPreferido">
                                            <label class="form-check-label">Encorpado</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card rounded-3">
                                <div class="card-img-top card-bar"></div>
                                <div class="card-body px-4 pt-3 pb-4">
                                    <p class="card-title mb-3 fw-bold">Sabor <span class="text-marsala small align-top">*</span></p>
                                    <div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="delicado" v-model="sabor">
                                            <label class="form-check-label">Delicado</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="medio" v-model="sabor">
                                            <label class="form-check-label">Médio</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="forte" v-model="sabor">
                                            <label class="form-check-label">Forte</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card rounded-3">
                                <div class="card-img-top card-bar"></div>
                                <div class="card-body px-4 pt-3 pb-4">
                                    <p class="card-title mb-3 fw-bold">Molho</p>
                                    <div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="agridoce" v-model="molho">
                                            <label class="form-check-label">Agridoce</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="creme" v-model="molho">
                                            <label class="form-check-label">Creme</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="tartaro" v-model="molho">
                                            <label class="form-check-label">Tártaro</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="apimentado" v-model="molho">
                                            <label class="form-check-label">Apimentado</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="tomate" v-model="molho">
                                            <label class="form-check-label">Tomate</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card rounded-3">
                                <div class="card-img-top card-bar"></div>
                                <div class="card-body px-4 pt-3 pb-4">
                                    <p class="card-title mb-3 fw-bold">Prato principal <span class="text-marsala small align-top">*</span></p>
                                    <div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="peixe" v-model="pratoPrincipal">
                                            <label class="form-check-label">Peixe</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="carne" v-model="pratoPrincipal">
                                            <label class="form-check-label">Carne</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="aves" v-model="pratoPrincipal">
                                            <label class="form-check-label">Aves</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card rounded-3">
                                <div class="card-img-top card-bar"></div>
                                <div class="card-body px-4 pt-3 pb-4">
                                    <p class="card-title mb-3 fw-bold">Tem peru <span class="text-marsala small align-top">*</span></p>
                                    <div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="sim" v-model="temPeru">
                                            <label class="form-check-label">Sim</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="nao" v-model="temPeru">
                                            <label class="form-check-label">Não</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card rounded-3">
                                <div class="card-img-top card-bar"></div>
                                <div class="card-body px-4 pt-3 pb-4">
                                    <p class="card-title mb-3 fw-bold">Tem vitela <span class="text-marsala small align-top">*</span></p>
                                    <div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="sim" v-model="temVitela">
                                            <label class="form-check-label">Sim</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="nao" v-model="temVitela">
                                            <label class="form-check-label">Não</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="d-grid gap-2 d-md-block">
                                <button type="button" class="btn btn-dark" v-on:click="buscarVinho">Buscar vinho</button>
                                <p class="ms-md-2 small d-md-inline d-block">
                                    <span class="text-marsala small">*</span> 
                                    <span>required</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="rodape" class="container-fluid mt-5">
            <div class="row">
                <div id="end-view" class="col px-0 text-cream">
                    <div id="overlay-bg-bottom">
                        <div id="rodape-nav" class="d-flex flex-column align-items-center justify-content-end">
                            <a href="https://github.com/MateusBMP/recomendador-de-vinhos" class="text-decoration-none link-light mb-2">GitHub</a>
                            <div class="nav justify-content-center align-items-end">
                                <a id="rodape-nav-title" href="#" class="nav-link disabled font-monospace fw-bold" tab-index="-1" aria-disabled="true">2021 &#8226; RECOMENDADOR DE VINHOS</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                corpoPreferido: null,
                corPreferida: [],
                molho: [],
                pratoPrincipal: null,
                sabor: [],
                suavidade: null,
                temPeru: null,
                temVitela: null
            },
            computed: {
                temMolho: function () {
                    return (this.molho.length > 0);
                }
            },
            methods: {
                buscarVinho: function(event) {
                    axios
                        .post('api/recomendar-vinho/', {
                            'corpo-preferido': this.corpoPreferido,
                            'cor-preferida': this.corPreferida,
                            'molho': this.molho,
                            'prato-principal': this.pratoPrincipal,
                            'sabor': this.sabor,
                            'suavidade-preferida': this.suavidade,
                            'tem-molho': this.temMolho,
                            'tem-peru': this.temPeru,
                            'tem-vitela': this.temVitela,
                        })
                        .then(response => (console.info(response.data)));
                }
            }
        });
    </script>
</body>
</html>